# Required settings
BEANBOT_BOT_TOKEN=
BEANBOT_MONGO_CONNECTION_STRING=mongodb://mongo:27017
BEANBOT_GENERAL_CHANNEL_ID=
BEANBOT_HATOETE_URL=
BEANBOT_YOSHIMARU_URL=

# Optional legacy feature flag / server identifier
BEANBOT_IL_SERVER_ID=
